<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <sectionGroup name="authBridge" type="AuthBridge.Configuration.AuthBridgeSectionGroup, AuthBridge, Version=1.0.0.0, Culture=neutral">
      <section name="multiProtocolIssuer" type="AuthBridge.Configuration.MultiProtocolIssuerSection, AuthBridge, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  
  <authBridge>
    <multiProtocolIssuer identifier="https://stsrealm" responseEndpoint="https://response-endpoint">
      <signingCertificate findValue="CN=localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />
      <claimProviders>
        <add url="https://providerurl0" displayName="0" protocolHandler="protocolHandler0" identifier="provider0" />
        <add url="https://providerurl1" displayName="1" protocolHandler="protocolHandler1" identifier="provider1" />
        <add url="https://providerurl2" displayName="2" protocolHandler="protocolHandler2" identifier="provider2">
          <params>
            <add key="key1" value="value1" />
            <add key="key2" value="value2" />
          </params>
        </add>
      </claimProviders>
      
      <scopes>
        <scope uri="https://relyingpartyidentifier/theurl" identifier="https://relyingpartyidentifier/">
          <claimRequirements>
            <add type="https://profile-A/name" name="name" demandLevel="Required" />
            <add type="https://profile-A/email" name="email" demandLevel="Request" />

            <add type="https://profile-B/name" name="name" demandLevel="Required" />
            <add type="https://profile-B/email" name="email" demandLevel="Request" />
          </claimRequirements>

          <allowedClaimProviders>
            <add name="name0" />
            <add name="name1" />
          </allowedClaimProviders>
          
        </scope>
      </scopes>
    </multiProtocolIssuer>
  </authBridge>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
